<!DOCTYPE html>
<html lang="zh" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>检测结果查询</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{/css/bootstrap-table.min.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all"/>

    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/js/jquery.validate.min.js}"></script>
    <script th:src="@{/js/bootstrap-table.min.js}"></script>
    <script th:src="@{/js/axios.min.js}"></script>
    <script th:src="@{/js/clipboard.min.js}"></script>
</head>
<body>
<div class="container">
    <div class="d-flex justify-content-between"><h1>检测结果查询</h1><a  href="/">返回</a></div>
    <div class="my-2">
        <form name="checkForm" id="checkForm" onsubmit="return false">
            <div class="mb-3">
                <label for="checkNo" class="form-label">检测编号<span class="required">*</span></label>
                <input type="text" class="form-control" id="checkNo" name="checkNo" aria-describedby="emailHelp" required>
            </div>
            <button type="submit" class="btn btn-primary" onclick="submitReportSearch()">提交</button>
        </form>
    </div>

    <div class="my-2">
        <table class="table" id="result-table">
        </table>
    </div>
</div>
<script>
    let checkForm = undefined;
    $().ready(function () {
        checkForm = $("#checkForm");
        checkForm.validate();
        $('#result-table').bootstrapTable({
            // url: '',//如果需要请求后台获取初始数据的话，这里写请求地址
            // toolbar: '#toolbar',
            // clickEdit: true,
            // showToggle: true,
            // pagination: true,       //显示分页条
            // showColumns: true,
            // showPaginationSwitch: true,     //显示切换分页按钮
            // showRefresh: true,      //显示刷新按钮
            // //clickToSelect: true,  //点击row选中radio或CheckBox
            columns: [
                {
                    field: 'index',
                    title: '序列',
                    formatter:function(value, row, index) {
                        return row.index = index+1; //返回行号
                    }
                },{
                    field: 'checkNo',
                    title: '检测编号',
                },
                {
                    field: 'title',
                    title: '标题',
                }, {
                    field: 'author',
                    title: '作者',

                },{
                    field: 'publishYear',
                    title: '发布年份',

                },{
                    field: 'taskNum',
                    title: '检测任务数',

                },{
                    field: 'similarity',
                    title: '相似度',

                }, {
                    field: 'status',
                    title: '状态',
                    formatter: function (value, row, index) {
                        // 状态: 0 待处理,  1 处理中， 2 已完成
                        if (value === '0') {
                            return '待处理'
                        } else if (value === '1') {
                            return '处理中'
                        } else if (value === '2') {
                            return '已完成'
                        } else if (value === '3') {
                            return '报告已生成'
                        }
                    }
                }, {
                    field: 'report',
                    title: '报告',
                    formatter: function (value, row, index) {
                        if (row.status === '2' || row.status === '2') {
                            return '<a href="/report/' + row.checkNo + '" target="_blank">查看</a>'
                        }
                    }
                }
                ,{
                    field: 'createTime',
                    title: '提交时间',

                }]
        });
    });
    const submitReportSearch = () => {
        if (checkForm.valid()) {
           const checkNo = $("#checkNo").val();
            console.log('checkNo', checkNo);
            axios.get("/check/getCheckResult", {params: {checkNo}}).then((response) => {
                if (response.data.code === 200) {
                    alert("检测请求已提交");
                    clearTable()
                    addRow(response.data.data)
                } else {
                    alert("查询失败");
                    console.error(response.data)
                }
            }).catch((error) => {
                console.log(error);
            });
        }
    }

    const clearTable = () => {
        $('#result-table').bootstrapTable('removeAll')
    }
    const addRow = (data) => {
        console.log('$(\'#result-table\').bootstrapTable', $('#result-table').bootstrapTable)
        $('#result-table').bootstrapTable('append', data)
    }

</script>
</body>
</html>