<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eva.check.mapper.CheckTaskMapper">

    <resultMap id="BaseResultMap" type="com.eva.check.pojo.CheckTask">
        <id property="taskId" column="task_id" jdbcType="BIGINT"/>
        <result property="checkId" column="check_id" jdbcType="BIGINT"/>
        <result property="checkNo" column="check_no" jdbcType="VARCHAR"/>
        <result property="checkType" column="check_type" jdbcType="CHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="CHAR"/>
        <result property="similarity" column="similarity" jdbcType="DOUBLE"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        task_id,check_id,check_no,
        check_type,content,status,similarity,
        create_time,update_time
    </sql>
</mapper>
