<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eva.check.mapper.PaperSentenceMapper">

    <resultMap id="BaseResultMap" type="com.eva.check.pojo.PaperSentence">
        <id property="sentenceId" column="sentence_id" jdbcType="BIGINT"/>
        <result property="sentenceNum" column="sentence_num" jdbcType="INTEGER"/>
        <result property="paragraphId" column="paragraph_id" jdbcType="BIGINT"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="hash" column="hash" jdbcType="BIGINT"/>
        <result property="hash1" column="hash1" jdbcType="VARCHAR"/>
        <result property="hash2" column="hash2" jdbcType="VARCHAR"/>
        <result property="hash3" column="hash3" jdbcType="VARCHAR"/>
        <result property="hash4" column="hash4" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        sentence_id,sentence_num,paragraph_id,
        content,create_time,update_time,
        hash
    </sql>
</mapper>
