<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eva.check.mapper.PaperExtMapper">

    <resultMap id="BaseResultMap" type="com.eva.check.pojo.PaperExt">
            <id property="paperId" column="paper_id" jdbcType="BIGINT"/>
            <result property="dataType" column="data_type" jdbcType="CHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        paper_id,data_type,content,
        create_time,update_time
    </sql>

    <delete id="removeByPageNo" parameterType="string">
            delete from paper_ext t where exists(select 1 from paper_info pi where pi.paper_no = #{paperNo} and pi.paper_id = t.paper_id)
    </delete>
</mapper>
